.closeButton {
  display: inline-block;
  position: absolute;
  top: -60px;
  right: 0;
  font-family: $secondaryFont;
  min-width: 87px;
  padding: 6px 20px;
  font-size: $fontSize;
  font-weight: $regular;
  color: #000;
  background-color: $bgColor;
  text-align: center;
  border: none;
  border-radius: 222px;
  line-height: 1.2;
  cursor: pointer;
  transition: all $duration;

  @include outline();

  @include onTablet() {
    top: -50px;
    min-width: 78px;
    padding: 4px 20px;
    font-size: $fontSizeSmaller;
    line-height: 1.5;
  }

  @include onPhone() {
    top: -48px;
    right: 16px;
  }
}
