.Heading {
  font-family: $secondaryFont;
  line-height: inherit;
  font-weight: $bold;
}

.h1 {
  font-size: 172px;

  @include onTablet() {
    font-size: 100px;
  }

  @include onPhone() {
    font-size: 72px;
  }
}

.h2 {
  font-size: 96px;

  @include onTablet() {
    font-size: 64px;
  }

  @include onPhone() {
    font-size: 34px;
  }
}

.h3 {
  font-size: 64px;

  @include onTablet() {
    font-size: 48px;
  }

  @include onPhone() {
    font-size: 34px;
  }
}

.h4 {
  font-size: 44px;

  @include onTablet() {
    font-size: 40px;
  }

  @include onPhone() {
    font-size: 28px;
  }
}

.h5 {
  font-size: 28px;
}

.gutterBottom {
  @include addTextMargin(24px);

  @include onTablet() {
    @include addTextMargin(16px);
  }

  @include onPhone() {
    @include addTextMargin(12px);
  }
}
